.navbar a{
  text-decoration: none;
  color: rgb(247, 240, 240);
  text-transform: capitalize;
  font-size: 22px;
}

.inputs{
       border: none;
       border-bottom: solid 2px rgb(250, 247, 247);
       outline: none;
       background-color: transparent;
       color: white;
}
.inputs::placeholder{
  text-transform: capitalize;
  color: white;
}